// See mixins/_ws_svgs.scss for more details on how to use these.

$ws-svgs: (
  // Pointing right:
  chevron: '<svg viewBox="0 0 9.19 15.56" width="9.19" height="15.56"><polygon fill="{COLOR}" points="1.41 15.56 0 14.14 6.36 7.78 0 1.41 1.41 0 9.19 7.78 1.41 15.56"/></svg>',

  // Pointing left:
  chevron-left: '<svg viewBox="0 0 9.19 15.56" width="9.19" height="15.56"><polygon transform="rotate(180, 4.595, 7.78)" fill="{COLOR}" points="1.41 15.56 0 14.14 6.36 7.78 0 1.41 1.41 0 9.19 7.78 1.41 15.56"/></svg>',

  ws-navbar-stripe: '<svg width="1200" height="3" viewBox="0 0 1200 3" preserveAspectRatio="none"><rect x="0" y="0" width="1200" height="3" style="fill:#72d0eb;"/><rect x="149.984" y="0" width="1050.02" height="3" style="fill:#0084ad;"/><rect x="300.017" y="0" width="899.983" height="3" style="fill:#003764;"/><rect x="449.965" y="0" width="750.035" height="3" style="fill:#4a0d66;"/><rect x="600" y="0" width="600" height="3" style="fill:#d51067;"/><rect x="750.009" y="0" width="449.991" height="3" style="fill:#ff6c0c;"/><rect x="900" y="0" width="300" height="3" style="fill:#fee300;"/><rect x="1050" y="0" width="150" height="3" style="fill:#8ae2d1;"/></svg>',

  hero-bullet: '<svg width="22" height="24" viewBox="0 0 22 24" version="1.1" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M0,5.5l11,-5.5l11,5.5l0,13l-11,5.5l-11,-5.5l0,-13Z" style="fill:#8ae2d1;"/><path d="M11,0l11,5.5l0,13l-11,5.5l0,-24Z" style="fill:#d51067;"/><path d="M11,0l11,5.5l-11,5.5l-11,-5.5l11,-5.5Z" style="fill:#0084ad;"/><path d="M22,5.5l-11,5.5l0,-11l11,5.5Z" style="fill:#003764;"/></svg>',

  close: '<svg viewBox="0 0 19 19"><polygon fill="{COLOR}" points="19 1.73 17.27 0 9.5 7.77 1.73 0 0 1.73 7.77 9.5 0 17.27 1.73 19 9.5 11.23 17.27 19 19 17.27 11.23 9.5 19 1.73"/></svg>',

  quotes: '<svg viewBox="0 0 245.67 150.57" width="245.67" height="150.57"><polygon fill="{COLOR}" points="88.31 0 43.65 25.78 0 50.98 0 117.38 57.5 150.57 115 117.38 115 50.98 88.31 35.57 88.31 0"/><polygon fill="{COLOR}" points="218.98 35.57 218.98 0 174.32 25.78 130.67 50.98 130.67 117.38 188.17 150.57 245.67 117.38 245.67 50.98 218.98 35.57"/></svg>'

);
