// Variables

// Although we have a 12-column grid, our blocks of content (like
// features, heros, etc) use a bigger grid of 3 columns:
$ws-columns: 3 !default;

// The 2x1, 3x1 and 2x2 .ws-feature-image elements have an extra
// breakpoint below which we change their layout, moving their image above the
// 'inner' block.
$ws-feature-image-breakpoint: 470px !default;

// At narrowest widths, how high are the .ws-block-* elements?
$ws-block-min-height: 220px !default;

// From this point down, we collapse the main navbar and hide the sub navbar.
// They should have the .navbar-expand-md class too.
$ws-navbar-breakpoint: md !default;

$ws-navbar-height: 100px !default;

// For we put a .hero-overlay "behind" the navbar:
$ws-zindex-hero-overlay: 50 !default;
$ws-zindex-navbar-overlay: 100 !default;
$ws-zindex-logo-overlay: 120 !default;

// Colors
$yellow-tint-1: #DFC823 !default;
$yellow-tint-2: #E7D11B !default;
$yellow-tint-3: #F1D800 !default;
$yellow-tint-4: #FEE300 !default;
$yellow-tint-5: #F6F06E !default;
$yellow-tint-6: #F9F6AC !default;

$orange-tint-1: #E34123 !default;
$orange-tint-2: #F15122 !default;
$orange-tint-3: #FF6C0C !default;
$orange-tint-4: #F89041 !default;
$orange-tint-5: #FAA44F !default;
$orange-tint-6: #FBB654 !default;

$pink-tint-1: #AC0D56 !default;
$pink-tint-2: #BF1561 !default;
$pink-tint-3: #D51067 !default;
$pink-tint-4: #DD3E75 !default;
$pink-tint-5: #E35883 !default;
$pink-tint-6: #EC7B98 !default;

$purple-tint-1: #4A0D66 !default;
$purple-tint-2: #5D2875 !default;
$purple-tint-3: #6E3E84 !default;
$purple-tint-4: #815593 !default;
$purple-tint-5: #936CA1 !default;
$purple-tint-6: #A483B0 !default;

$blue-dark-tint-1: #003764 !default;
$blue-dark-tint-2: #034973 !default;
$blue-dark-tint-3: #005882 !default;
$blue-dark-tint-4: #3974A0 !default;
$blue-dark-tint-5: #3E7EB1 !default;
$blue-dark-tint-6: #5290BD !default;

$blue-tint-1: #00658F !default;
$blue-tint-2: #0E779F !default;
$blue-tint-3: #0084AD !default;
$blue-tint-4: #0093B7 !default;
$blue-tint-5: #4AA5C3 !default;
$blue-tint-6: #74B6CF !default;

$cyan-tint-1: #00BBE6 !default;
$cyan-tint-2: #33C1E7 !default;
$cyan-tint-3: #54C8E9 !default;
$cyan-tint-4: #72D0EB !default;
$cyan-tint-5: #8FDBF0 !default;
$cyan-tint-6: #A8E4F3 !default;

$teal-tint-1: #5FC5BD !default;
$teal-tint-2: #70C9C1 !default;
$teal-tint-3: #81D6C9 !default;
$teal-tint-4: #8AE2D1 !default;
$teal-tint-5: #ABEADC !default;
$teal-tint-6: #C5F0E6 !default;

// A light version of the standard link color.
$ws-link-faded-color: $pink-tint-6 !default;


// Color system

$white: #fff !default;
$gray-100: #f7f7f7 !default;
$gray-200: #e8e8e8 !default;
$gray-300: #d7d7d7 !default;
$gray-400: #acacac !default;
$gray-500: #878787 !default;
$gray-600: #707070 !default;
$gray-700: #5A5A5A !default;
$gray-800: #434343 !default;
$gray-900: #2D2D2D !default;
$black: #000 !default;

$grays: () !default;
$grays: map-merge(
 (
 "100": $gray-100,
 "200": $gray-200,
 "300": $gray-300,
 "400": $gray-400,
 "500": $gray-500,
 "600": $gray-600,
 "700": $gray-700,
 "800": $gray-800,
 "900": $gray-900
 ),
 $grays
);

$blue: $blue-tint-2 !default;
$indigo: #362D79 !default;
$purple: $purple-tint-1 !default;
$pink: $pink-tint-3 !default;
$red: #dc3545 !default;
$orange: $orange-tint-2 !default;
$yellow: $yellow-tint-4 !default;
$green: #28a745 !default;
$teal: $teal-tint-4 !default;
$cyan: $cyan-tint-1 !default;

$blue-dark: $blue-dark-tint-1 !default;

$blue-hint-light: $blue-dark-tint-2 !default;
$blue-hint-lighter: #8ca5bc !default;

$colors: () !default;
$colors: map-merge(
 (
 "blue": $blue,
 "indigo": $indigo,
 "purple": $purple,
 "pink": $pink,
 "red": $red,
 "orange": $orange,
 "yellow": $yellow,
 "green": $green,
 "teal": $teal,
 "cyan": $cyan,
 "white": $white,
 "gray": $gray-600,
 "gray-dark": $gray-800,
 "blue-dark": $blue-dark,
 ),
 $colors
);

$primary: $blue !default;
$secondary: $gray-500 !default;
$info: $cyan !default;

$theme-colors: () !default;
$theme-colors: map-merge(
 (
 "primary": $primary,
 "secondary": $secondary,
 "info": $info,
 ),
 $theme-colors
);


// Spacing

$spacer: 1rem !default;


// Links

$link-color: $blue-dark-tint-5 !default;
$link-hover-color: $blue-dark-tint-2 !default;


// Grid columns

$grid-gutter-width: 20px !default;


// Body

$body-bg: $white !default;
$body-color: $gray-900 !default;


// Components

$border-radius: .125rem !default;
$border-radius-lg: .25rem !default;
$border-radius-sm: .0625rem !default;


// Fonts

$font-family-sans-serif: "FrutigerLTW04", Frutiger, Arial, sans-serif !default;
$font-family-serif: "Inria Serif", serif !default;

$font-family-base: $font-family-sans-serif !default;

$font-size-7xl: 7.5rem !default; // 120
$font-size-6xl: 5.625rem !default; // 90
$font-size-5xl: 3.75rem !default; // 60
$font-size-4xl: 2.5rem !default; // 40
$font-size-3xl: 2rem !default; // 32
$font-size-2xl: 1.5em !default; // 24
$font-size-xl: 1.25rem !default; // 20
$font-size-lg: 1.125rem !default; // 18
$font-size-base: 1rem !default; // 16
$font-size-sm: 0.875rem !default; // 14

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 800 !default;
$font-weight-extra-black: 900 !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;

$h1-font-size: $font-size-5xl !default;
$h2-font-size: $font-size-3xl !default;
$h3-font-size: $font-size-2xl !default;
$h4-font-size: $font-size-xl !default;
$h5-font-size: $font-size-lg !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: 1rem !default;
$headings-font-weight: $font-weight-bold !default;

$lead-font-size: $font-size-2xl !default;

$text-muted: $gray-600 !default;

$blockquote-font-size: $font-size-2xl !default;

$hr-border-color: $gray-200 !default;
$hr-border-width: 1px !default;
$hr-margin-y: 2rem !default;


// Buttons + Forms

$input-btn-padding-x: 1.25rem !default;


// Buttons

$btn-padding-x: 2rem !default;
$btn-font-weight: $font-weight-bold !default;


// Navs
$nav-link-padding-y: 0.5rem !default;


// Navbar
$navbar-padding-y: 8px !default;
$navbar-font-size: $font-size-sm !default;
$navbar-font-weight: $font-weight-base !default;
$navbar-brand-font-size: 1.55rem !default;
$navbar-brand-padding-y: 0.3rem !default;
$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $white !default;
$navbar-dark-active-color: $cyan-tint-4 !default;
$navbar-dark-brand-color: $white !default;
$navbar-toggler-padding-y: 0.75rem !default;
$navbar-toggler-padding-x: 0 !default;

$navbar-stripe-color1: $cyan-tint-4;
$navbar-stripe-color2: $blue-tint-3;
$navbar-stripe-color3: $blue-dark-tint-1;
$navbar-stripe-color4: $purple-tint-1;
$navbar-stripe-color5: $pink-tint-3;
$navbar-stripe-color6: $orange-tint-3;
$navbar-stripe-color7: $yellow-tint-4;
$navbar-stripe-color8: $teal-tint-4;

// Figures

$figure-caption-font-size: $font-size-base !default;
$figure-caption-color: $gray-400 !default;


// Breadcrumbs

$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: 1.5rem !default;

$breadcrumb-bg: transparent !default;
$breadcrumb-divider-color: $gray-400 !default;
$breadcrumb-active-color: $body-color !default;
$breadcrumb-active-font-weight: normal !default;
