// Variables


// Color system

$white: #fff;
$gray-100: #f7f7f7;
$gray-200: #e8e8e8;
$gray-300: #d7d7d7;
$gray-400: #acacac;
$gray-500: #878787;
$gray-600: #707070;
$gray-700: #5A5A5A;
$gray-800: #434343;
$gray-900: #2D2D2D;
$black: #000;

$yellow-tint-1: #DFC823;
$yellow-tint-2: #E7D11B;
$yellow-tint-3: #F1D800;
$yellow-tint-4: #FEE300;
$yellow-tint-5: #F6F06E;
$yellow-tint-6: #F9F6AC;

$orange-tint-1: #E34123;
$orange-tint-2: #F15122;
$orange-tint-3: #FF6C0C;
$orange-tint-4: #F89041;
$orange-tint-5: #FAA44F;
$orange-tint-6: #FBB654;

$red-tint-1: #AC0D56;
$red-tint-2: #BF1561;
$red-tint-3: #D51067;
$red-tint-4: #DD3E75;
$red-tint-5: #E35883;
$red-tint-6: #EC7B98;

$purple-tint-1: #4A0D66;
$purple-tint-2: #5D2875;
$purple-tint-3: #6E3E84;
$purple-tint-4: #815593;
$purple-tint-5: #936CA1;
$purple-tint-6: #A483B0;

$blue-dark-tint-1: #003764;
$blue-dark-tint-2: #034973;
$blue-dark-tint-3: #005882;
$blue-dark-tint-4: #3974A0;
$blue-dark-tint-5: #3E7EB1;
$blue-dark-tint-6: #5290BD;

$blue-tint-1: #00658F;
$blue-tint-2: #0E779F;
$blue-tint-3: #0084AD;
$blue-tint-4: #0093B7;
$blue-tint-5: #4AA5C3;
$blue-tint-6: #74B6CF;

$cyan-tint-1: #00BBE6;
$cyan-tint-2: #33C1E7;
$cyan-tint-3: #54C8E9;
$cyan-tint-4: #72D0EB;
$cyan-tint-5: #72D0EB;
$cyan-tint-6: #72D0EB;

$green-tint-1: #5FC5BD;
$green-tint-2: #70C9C1;
$green-tint-3: #81D6C9;
$green-tint-4: #8AE2D1;
$green-tint-5: #ABEADC;
$green-tint-6: #C5F0E6;

$blue: $blue-tint-3;
$indigo: #362D79;
$purple: $purple-tint-1;
$pink: $red-tint-3;
$red: $red-tint-1;
$orange: $orange-tint-3;
$yellow: $yellow-tint-4;
$green: #5FC5BD;
$teal: $green-tint-4;
$cyan: $cyan-tint-4;

$blue-dark: $blue-dark-tint-1;

$blue-hint-light: $blue-dark-tint-2;
$blue-hint-lighter: #8ca5bc;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "blue-dark": $blue-dark,
);

$primary: $blue;
$secondary: $purple;
$info: $cyan;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "info":       $info,
);


// Links

$link-color: $blue-tint-4;
$link-hover-color: $blue-tint-1;


// Body

$body-bg: $white;
$body-color: $gray-900;


// Components

$border-radius: .125rem;
$border-radius-lg: .25rem;
$border-radius-sm: .0625rem;


// Fonts

$font-family-sans-serif: "FrutigerLTW04", Frutiger, Arial, sans-serif;
$font-family-serif: "Inria Serif", serif;

$font-family-base: $font-family-sans-serif;

$font-size-7xl: 7.5rem; // 120
$font-size-6xl: 5.625rem; // 90
$font-size-5xl: 3.75rem; // 60
$font-size-4xl: 2.5rem; // 40
$font-size-3xl: 2rem; // 32
$font-size-2xl: 1.5em; // 24
$font-size-xl: 1.25rem; // 20
$font-size-lg: 1.125rem; // 18
$font-size-base: 1rem; // 16
$font-size-sm: 0.875rem; // 14

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-weight-extra-black: 900;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.5;

$h1-font-size: $font-size-5xl;
$h2-font-size: $font-size-3xl;
$h3-font-size: $font-size-2xl;
$h4-font-size: $font-size-xl;
$h5-font-size: $font-size-lg;
$h6-font-size: $font-size-base;

$headings-margin-bottom: 1rem;
$headings-font-weight: $font-weight-bold;

$lead-font-size: $font-size-2xl;

$text-muted: $gray-500;

$blockquote-font-size: $font-size-2xl;

$hr-border-color: $gray-200;
$hr-border-width: 1px;
$hr-margin-y: 2rem;


// Breadcrumbs

$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 1.5rem;

$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray-400;
$breadcrumb-active-color: $body-color;
$breadcrumb-active-font-weight: normal;
