body {
  padding: 30px 0;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-weight: bold;
  letter-spacing: -.035em;
}

h5, h6,
.h5, .h6 {
  font-weight: 500;
}

.navbar {
  z-index: 998 !important;
}

.breadcrumb-bottom {
  margin-top: 1.5em;
}

.sidebar h3 a {
  color: #111;
}

.active a {
  color: #111;
}
