
// Brand colors
// -------------------------

@worldskills-red-dark: #95092A;
@worldskills-red-light: #E13353;
@worldskills-green-dark: #0D4940;
@worldskills-green-light: #85C026;
@worldskills-blue-dark: #09304E;
@worldskills-blue-light: #49A0DF;
@worldskills-yellow-dark: #F4970B;
@worldskills-yellow-light: #FAD42E;
@worldskills-black: #221F20;
@worldskills-grey-dark: #58585A;
@worldskills-grey: #818285;
@worldskills-grey-light: #A7A9AC;
@worldskills-white: #efefef;


// Typography
// -------------------------

@brand-font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
@brand-font-weight: 700;

@headings-font-family: @brand-font-family;
@headings-font-weight: @brand-font-weight;


// Grid system
// --------------------------------------------------

@grid-float-breakpoint: @screen-md-min;


// Navbar
// -------------------------

@navbar-worldskills-height: 100px;
@navbar-worldskills-padding-vertical: ((@navbar-worldskills-height - @line-height-computed) / 2);

@navbar-inverse-color: @worldskills-white;
@navbar-inverse-bg: @worldskills-blue-dark;

@navbar-inverse-link-color: @worldskills-white;
@navbar-inverse-link-active-color: @worldskills-blue-light;
@navbar-inverse-link-active-bg: transparent;

@navbar-inverse-toggle-hover-bg: darken(@navbar-inverse-link-active-color, 10%);
