
// Typography
// -------------------------

@brand-font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

@headings-font-family: @brand-font-family;

@headings-font-weight: 100;
@headings-small-font-weight: 500;
