

// Include this to make the element stick to the top of the window as the
// user scrolls down.
@mixin sticky() {

  @include media-breakpoint-up(sm) {
    position: sticky;
    top: 0;

    .ccm-toolbar-visible & {
      top: 48px;
    }
  }
}
