// Custom button styles.

// Add a chevron to the right side of the button's text.
.btn-more {
  max-width: 100%;
  background-repeat: no-repeat;

  @include button-more-size();

  &.btn-sm {
    @include button-more-size(sm);
  }

  &.btn-lg {
    @include button-more-size(lg);
  }

  &,
  &:hover {
    background-image: svg-chevron($link-color);
  }

  &.btn-outline-dark {
    background-image: svg-chevron($body-color);
  }

  &.btn-primary,
  &.btn-outline-white,
  &.btn-outline-dark:hover,
  &.btn-outline-primary:hover {
    background-image: svg-chevron($white);
  }
}

.btn-back {
  max-width: 100%;
  background-repeat: no-repeat;

  @include button-back-size();

  &.btn-sm {
    @include button-back-size(sm);
  }

  &.btn-lg {
    @include button-back-size(lg);
  }

  &,
  &:hover {
    background-image: svg-chevron-left($link-color);
  }

  &.btn-outline-dark {
    background-image: svg-chevron-left($body-color);
  }

  &.btn-primary,
  &.btn-outline-white,
  &.btn-outline-dark:hover,
  &.btn-outline-primary:hover {
    background-image: svg-chevron-left($white);
  }
}

.btn-white {
  background-color: $white;

  &:hover {
    background-color: $gray-200;
  }
}
