

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $spacer;
  margin-bottom: $headings-margin-bottom;
}

small,
.small {
  font-weight: inherit;
}

// To be used with headings; add a cube icon to the left.
.ws-h-icon {
  background-image: svg-hero-bullet($teal-tint-4, $pink-tint-3, $blue-tint-3, $blue-dark-tint-1);
  background-repeat: no-repeat;
  background-position: left 0;
  padding-left: 44px;
}

h1.ws-h-icon,
.h1.ws-h-icon {
  background-position: left 50%;
  background-size: 2rem;
  padding-left: 60px;
}

h2.ws-h-icon,
.h2.ws-h-icon {
  background-position: left 0.4rem;
  background-size: 1.5rem;
  padding-left: 44px;
}

h3.ws-h-icon,
.h3.ws-h-icon {
  background-position: left 0.15rem;
  background-size: 1.25rem;
  padding-left: 44px;
}

h5.ws-h-icon,
.h5.ws-h-icon,
h6.ws-h-icon,
.h6.ws-h-icon {
  background-position: left 0;
  background-size: 1rem;
  padding-left: 35px;
}
