// Headings and Subheadings

// e.g.
//
// <div class="ws-heading-sub">
//   <h2 class="ws-heading-sub-title ws-h-icon">Hello</h2>
//   <a class="ws-heading-link" href="#">More things</a>
// </div>

// <h1 class="ws-heading-title">Hello</h1>

// <h2 class="ws-heading-standfirst">My standfirst</h2>

.ws-heading-title {
  color: $blue-dark;
  font-weight: $font-weight-black;
  font-size: $font-size-4xl;
}

.ws-heading-standfirst {
  color: $blue-dark;
  font-family: $font-family-serif;
  font-size: $font-size-2xl;
  font-weight: normal;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  &:after {
    // Add a line beneath.
    content: "";
    width: 158px;
    height: 1px;
    background: $cyan;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.ws-heading-sub {
  margin: 3rem 0;

  .ws-layout-gray & {
    margin-top: 0;
  }

  .ws-h-icon {
    margin: 0 0 0.5rem 0;
  }
}

.ws-heading-link {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  background-image: svg-chevron($link-color);
  background-position: right 0.05rem;
  background-repeat: no-repeat;
  background-size: 0.7rem;
  padding-left: 44px;
  padding-right: 25px;
}


// Wider, put title and link in left and right columns.
@include media-breakpoint-up(md) {

  .ws-heading-sub {
    display: flex;
    justify-content: space-between;
  }

  .ws-heading-sub-title {
    margin-bottom: 0;
  }

  .ws-heading-link {
    margin-top: 0.7rem;
    padding-left: 0;
    padding-right: 54px;
    text-align: right;
    white-space: nowrap;
  }
}
