// Pullquote

// By default has the quote mark on the left:

// <figure class="ws-pullquote">
//   <blockquote>My quote here</blockquote>
//   <figcaption>Fred Bloggs</figcaption>
// </figure>

// Add the .ws-pullquote-top class to have the quote mark above the blockquote.

.ws-pullquote {
  background-image: svg-quotes($blue);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px;
  margin-top: $spacer;
  margin-bottom: $spacer;
  max-width: 56rem;
  padding-left: 65px;

  @include media-breakpoint-up(sm) {
    padding-left: 90px;
  }

  blockquote {
    font-size: $font-size-xl;
    font-family: $font-family-serif;
    font-style: italic;
    color: $blue;
    margin-bottom: ($spacer * 0.5);

    @include media-breakpoint-up(md) {
      font-size: $font-size-2xl;
    }
  }

  figcaption {
    font-weight: $font-weight-light;
  }
}

.ws-pullquote-top {
  padding-left: 0;
  padding-top: 50px;
}
