* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  clear: both;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 5%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
  color: #eee;
  text-align: center;
}

.box {
  float: left;
  width: 25%;
  height: 25%;
}

.link {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #bbb;
  pointer-events: none;
}

/* Color */

.pantone-red-dark {
  background-color: #a6192e;
}

.pantone-red-light {
  background-color: #df4661;
}


.pantone-green-dark {
  background-color: #00594f;
}

.pantone-green-light {
  background-color: #99cc00;
}


.pantone-blue-dark {
  background-color: #003b5c;
}

.pantone-blue-light {
  background-color: #62b5e5;
}


.pantone-yellow-dark {
  background-color: #f2a900;
}

.pantone-yellow-light {
  background-color: #ffcc33;
}

/* Brand */

.brand-red-dark {
  background-color: #95092a;
}

.brand-red-light {
  background-color: #e13353;
}


.brand-green-dark {
  background-color: #0d4940;
}

.brand-green-light {
  background-color: #85c026;
}


.brand-blue-dark {
  background-color: #09304e;
}

.brand-blue-light {
  background-color: #49a0df;
}


.brand-yellow-dark {
  background-color: #f4970b;
}

.brand-yellow-light {
  background-color: #fad42e;
}
