* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  clear: both;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 5%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
  color: #eee;
  text-align: center;
}

.box {
  float: left;
  width: 25%;
  height: 25%;
}

.link {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #bbb;
  pointer-events: none;
}

/* Color */

.proposal-red-dark {
  background-color: #AC162C;
}

.proposal-red-light {
  background-color: #E74360;
}


.proposal-green-dark {
  background-color: #005850;
}

.proposal-green-light {
  background-color: #95D600;
}


.proposal-blue-dark {
  background-color: #003A5D;
}

.proposal-blue-light {
  background-color: #61B4E4;
}


.proposal-yellow-dark {
  background-color: #F7A800;
}

.proposal-yellow-light {
  background-color: #FEDD3D;
}

/* Brand */

.brand-red-dark {
  background-color: #A6192E;
}

.brand-red-light {
  background-color: #DF4661;
}


.brand-green-dark {
  background-color: #00594F;
}

.brand-green-light {
  background-color: #99CC00;
}


.brand-blue-dark {
  background-color: #003B5C;
}

.brand-blue-light {
  background-color: #62B5E5;
}


.brand-yellow-dark {
  background-color: #F2A900;
}

.brand-yellow-light {
  background-color: #FFCC33;
}
